# Logs
logs
*.log
npm-debug.log*

# Optional npm cache directory
.npm

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env
.env.test

# Dependency directories
node_modules/

# compiled stylesheets and script
dist/
